<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Hqpeak_TorBlocker>
			<name>Tor Blocker</name>
            <version>1.0.0</version>
            <description>
                <en_US>
                	<![CDATA[Most of the time Tor exit nodes are used to enumerate vulnerabilities of our online product, to perform attack or to be used as a spam source. 
                	This extension allow us to limit the actions that could be performed by the users that are coming from a Tor exit nodes using http://hqpeak.com/torexitlist/ free service. 
                	Could be upgraded to premium or could be set up any url to service that will give you response in the described json format. 
                	Premium list is updated on every 5 minutes and free on 5 h.]]>
                </en_US>
            </description>
            <extlink>
                <en_US><![CDATA[<a href="#" target="_blank">Tor Blocker</a>]]></en_US>
            </extlink>
		</Hqpeak_TorBlocker>
	</modules>
	<global>
		<helpers>
			<hqpeaktorblocker>
				<class>Hqpeak_TorBlocker_Helper</class>
			</hqpeaktorblocker>
		</helpers>
		<blocks>
			<hqpeaktorblocker>
				<class>Hqpeak_TorBlocker_Block</class>
			</hqpeaktorblocker>
		</blocks>
		<models>
			<hqpeaktorblocker>
				<class>Hqpeak_TorBlocker_Model</class>
				<resourceModel>hqpeaktorblocker_resource</resourceModel>
			</hqpeaktorblocker>
			<hqpeaktorblocker_resource>
				<class>Hqpeak_TorBlocker_Model_Resource</class>
				<entities>
					<ipaddress>
						<table>torblocker_ip</table>
					</ipaddress>
				</entities>
			</hqpeaktorblocker_resource>
		</models>
		<resources>
			<hqpeaktorblocker_setup>
				<setup>
					<module>Hqpeak_TorBlocker</module>
					<class>Hqpeak_TorBlocker_Model_Resource_Setup</class>
				</setup>
			</hqpeaktorblocker_setup>
		</resources>
		<events>
			<controller_front_init_before>
				<observers>
					<hqpeaktorblocker_observer>
						<type>singleton</type>
						<class>hqpeaktorblocker/observer</class>
						<method>serviceCheck</method>
					</hqpeaktorblocker_observer>
				</observers>
			</controller_front_init_before>
            <controller_front_init_routers>
                <observers>
                    <hqpeaktorblocker_observer>
                    	<type>singleton</type>
                        <class>hqpeaktorblocker/observer</class>
                        <method>ipCheckVisit</method>
                    </hqpeaktorblocker_observer>
                </observers>
            </controller_front_init_routers>
            <controller_action_predispatch>
				<observers>
					<hqpeaktorblocker_observer>		
						<type>singleton</type>
						<class>hqpeaktorblocker/observer</class>
						<method>ipCheckUrl</method>
					</hqpeaktorblocker_observer>	
				</observers>
			</controller_action_predispatch>
			<controller_action_predispatch_customer_account_create>
				<observers>
					<hqpeaktorblocker_observer>
						<type>singleton</type>
						<class>hqpeaktorblocker/observer</class>
						<method>checkRegister</method>
					</hqpeaktorblocker_observer>
				</observers>
			</controller_action_predispatch_customer_account_create>
        </events>
	</global>
	<default>
        <settings>
            <main>
            	<url>http://hqpeak.com/torexitlist/free/?format=json</url>
            	<timeupdate>18000</timeupdate>
            	<errortemplate>
<![CDATA[<!DOCTYPE html>
<html>
	<head>
		<title>Access Denied</title>
	</head>
	<body>
		<h2>Tor user caught! Sorry, you stop here</h2>
	</body>
</html>]]>
            	</errortemplate>
            	<check>0</check>
            	<version>http://hqpeak.com/torexitlist/free/?format=json</version>
            </main>
        </settings>
    </default>
	<frontend>
	    <events>
			<controller_action_predispatch>
				<observers>
					<hqpeaktorblocker_observer>		
						<type>singleton</type>
						<class>hqpeaktorblocker/observer</class>
						<method>ipCheckFront</method>
					</hqpeaktorblocker_observer>	
				</observers>
			</controller_action_predispatch>
		</events>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<hqpeaktorblocker before="Mage_Adminhtml">Hqpeak_TorBlocker_Adminhtml</hqpeaktorblocker>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<events>
			<controller_action_predispatch>
				<observers>
					<hqpeaktorblocker_observer>	
						<type>singleton</type>	
						<class>hqpeaktorblocker/observer</class>
						<method>ipCheckAdmin</method>
					</hqpeaktorblocker_observer>	
				</observers>
			</controller_action_predispatch>
			<admin_system_config_changed_section_settings>
				<observers>
					<hqpeaktorblocker_observer>
						<type>singleton</type>
						<class>hqpeaktorblocker/observer</class>
						<method>saveConfig</method>
					</hqpeaktorblocker_observer>
				</observers>
			</admin_system_config_changed_section_settings>
		</events>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<settings translate="title" module="hqpeaktorblocker">
											<title>Tor Blocker Settings</title>
											<sort_order>100</sort_order>
										</settings>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>		
	</adminhtml>
</config>